@import "../../index.scss";

.contact-section {
  margin-bottom: 160px;

  @include mobile {
    padding-top: 70px;
    overflow-x: hidden;
  }

  @include tablet {
    padding-top: 120px;
  }

  @include desktop {
    overflow-x: inherit;
  }

  .contact-heading {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @include mobile {
      margin-bottom: 30px;
    }

    @include tablet {
      margin-bottom: 50px;
    }

    @include desktop {
      margin-bottom: 100px;
    }

    .contact-header {
      margin: 0;
      font-size: 90px;
      line-height: 90px;
      font-weight: 700;

      line-height: 90px;
      font-weight: 700;

      color: #8efbff;
      text-shadow: 0 0 30px #00f5ff;

      @include mobile {
        font-size: 45px;
        padding-left: 20px;
      }

      @include tablet {
        font-size: 70px;
      }

      @include desktop {
        font-size: 90px;
        padding-left: 50px;

        animation: animateContact 0.1s linear infinite;

        @keyframes animateContact {
          0% {
            color: #8efbff;
            text-shadow: 0 0 30px #00f5ff;
          }

          100% {
            color: #3bf2f8;
            text-shadow: 0 0 30px #3bf2f8;
          }
        }
      }

      cursor: default;
    }

    .line {
      flex: 1;

      border-radius: 10px;

      background-color: #8efbff;
      box-shadow: 0 0 30px #00f5ff;

      @include mobile {
        height: 5px;
      }

      @include tablet {
        height: 10px;
      }

      @include desktop {
        animation: animateLine 0.1s linear infinite;
      }
    }
  }

  .main {
    display: flex;

    gap: 50px;

    @include mobile {
      flex-direction: column;
    }

    @include desktop {
      flex-direction: row;
    }

    .inputs {
      display: flex;
      flex-direction: column;

      @include mobile {
        width: 100%;
      }

      @include desktop {
        width: 60%;
      }

      span {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 700;
      }

      input,
      textarea {
        font-size: 20px;
        font-weight: 500;
        border: none;

        &:focus {
          outline: none;
        }
      }

      input {
        margin-bottom: 20px;
        height: 60px;
        padding: 0 20px;
        border-radius: 50px;
      }

      textarea {
        padding: 20px;
        border-radius: 20px;
        resize: none;
      }

      button {
        @extend .default-button;
        width: 100%;
        margin-top: 50px;
      }
    }

    .links {
      width: 40%;

      display: flex;
      flex-direction: column;
      // justify-content: center;
      padding-top: 40px;

      gap: 50px;

      border-radius: 20px;
      // background-color: #2a2f35;

      @include mobile {
        width: 100%;
        align-items: center;
      }

      @include desktop {
        width: 40%;
      }

      .link {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
          display: flex;
          gap: 20px;
          align-items: center;

          @include mobile {
            font-size: 40px;
            justify-content: center;
          }

          @include tablet {
          }

          @include desktop {
            justify-content: flex-start;
          }

          svg {
            height: 40px;
            width: 40px;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        a {
          color: #ff2e63;
          text-decoration: underline;

          @include mobile {
          }

          @include tablet {
            font-size: 25px;
          }
        }
      }

      .link-mail {
        @include desktop {
          padding-left: 20px;
        }
      }
    }
  }
}
