@import "../../index.scss";

.heroSection {
  margin-top: 50px;
  position: relative;

  display: flex;
  flex-direction: row;

  @include mobile {
    height: 70vh;
  }

  @include rwd("1920px") {
    height: 700px;
  }

  .left {
    position: absolute;
    left: 0;
    top: 110px;

    display: flex;
    flex-direction: column;

    .greet {
      display: flex;
      flex-direction: column;

      padding: 30px 0;

      border-radius: 20px;
      background-color: map-get($palette, bg);

      .greet-hello {
        margin: 0;

        font-size: 90px;
        line-height: 90px;
        font-weight: 700;

        width: 700px;
        padding-right: 50px;

        // -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
        // outline: none;
        cursor: default;

        animation: animateH1 0.1s linear infinite;

        @keyframes animateH1 {
          0% {
            color: #ffe8e8;
            text-shadow: 0 0 30px #d8d8d8;
          }

          100% {
            color: #fffbfb;
            text-shadow: 0 0 30px #d8d8d8;
          }
        }
      }

      .greet-role {
        margin: 20px 0 0 0;

        font-size: 35px;
        line-height: 35px;

        color: #fd4976;

        cursor: default;

        animation: animateP 5s linear infinite;

        @keyframes animateP {
          0%,
          18%,
          20%,
          50.1%,
          60%,
          65.1%,
          80%,
          90.1%,
          92% {
            color: #580016;
            text-shadow: none;
          }

          18.1%,
          20.1%,
          30%,
          50%,
          60.1%,
          65%,
          80.1%,
          90%,
          92.1%,
          100% {
            color: #fd4976;

            text-shadow: 0 0 50px #fd4976;
          }
        }
      }
    }

    .links {
      display: flex;
      margin-top: 100px;
      align-items: center;
      gap: 20px;

      a {
        svg {
          height: 40px;
          width: 40px;
        }
      }

      button {
        margin-right: 80px;
        @extend .default-button;
      }
    }
  }

  .right {
    width: 70%;
    height: inherit;
    margin-left: auto;

    border-radius: 20px;
    background-color: rgb(61, 61, 61);

    img {
      height: inherit;
      width: 100%;
      object-fit: cover;

      border-radius: inherit;
    }
  }
}
