@import "../../index.scss";

.heroSection {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include mobile {
    height: 92vh;
  }

  @include rwd("1920px") {
    height: 700px;
    margin-top: 50px;
  }

  .left {
    position: absolute;
    z-index: 95;

    display: flex;
    flex-direction: column;

    @include mobile {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include rwd("1000px") {
      left: 0;
      top: 25%;
      transform: none;
    }

    @include rwd("1920px") {
      top: 15%;
    }

    .greet {
      display: flex;
      flex-direction: column;

      border-radius: 20px;
      background-color: map-get($palette, bg);

      border: 10px solid #fd4976;

      animation: animateBorder 0.1s linear infinite;

      @include mobile {
        padding: 20px 40px;
      }

      @include tablet {
      }

      @include desktop {
        padding: 40px 60px;
      }

      @keyframes animateBorder {
        0% {
          border-color: #fd4976;
          box-shadow: 0 0 30px #fd4976;
        }

        100% {
          border-color: #ff6188;
          box-shadow: 0 0 30px #ff6188;
        }
      }

      .greet-hello {
        margin: 0;
        font-weight: 700;

        cursor: default;

        animation: animateH1 0.1s linear infinite;

        @include mobile {
          font-size: 10vw;
          width: 55vw;
        }

        @include tablet {
          font-size: 7vw;
          width: 60vw;
        }

        @include desktop {
          font-size: 90px;
          line-height: 90px;
          width: 700px;
        }

        @keyframes animateH1 {
          0% {
            color: #ffe8e8;
            text-shadow: 0 0 30px #d8d8d8;
          }

          100% {
            color: #fffbfb;
            text-shadow: 0 0 30px #d8d8d8;
          }
        }
      }

      .greet-role {
        margin: 20px 0 0 0;

        color: #fd4976;

        cursor: default;

        animation: animateP 5s linear infinite;

        @include mobile {
          font-size: 4vw;
        }

        @include tablet {
          font-size: 35px;
        }

        @keyframes animateP {
          0%,
          18%,
          20%,
          50.1%,
          60%,
          65.1%,
          80%,
          90.1%,
          92% {
            color: #580016;
            text-shadow: none;
          }

          18.1%,
          20.1%,
          30%,
          50%,
          60.1%,
          65%,
          80.1%,
          90%,
          92.1%,
          100% {
            color: #fd4976;
            text-shadow: 0 0 50px #fd4976;
          }
        }
      }
    }

    .links {
      display: flex;
      margin-top: 100px;
      align-items: center;
      gap: 20px;

      @include mobile {
        justify-content: center;
      }

      @include desktop {
        justify-content: flex-start;
      }

      a {
        svg {
          height: 40px;
          width: 40px;
        }
      }

      button {
        @extend .default-button;
      }
    }
  }

  .right {
    overflow: hidden;

    border-radius: 20px;
    background-color: rgb(61, 61, 61);

    @include mobile {
      height: 84vh;
      width: 100%;
    }

    @include rwd("1400px") {
      width: 70%;
      margin-left: auto;
    }

    @include rwd("1920px") {
      height: auto;
    }

    img {
      height: inherit;
      width: 100%;
      object-fit: cover;
      transform: scale(1.25);

      border-radius: inherit;
    }
  }
}
