@import "../../index.scss";

.project-container {
  display: flex;

  height: auto;
  margin-bottom: 50px;

  @include mobile {
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 50px;
  }

  @include tablet {
    gap: 30px;
    margin-bottom: 70px;
  }

  @include desktop {
    height: 500px;
    flex-direction: row;
    gap: 150px;
    margin-bottom: 150px;
  }

  .left {
    display: flex;
    flex-direction: column;

    @include desktop {
      width: 50%;
    }

    .project-info {
      display: flex;
      flex-direction: column;

      border-radius: 20px;
      background-color: map-get($palette, bg);

      .project-technologies {
        margin-bottom: 20px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        span {
          font-size: 15px;

          color: #3bf2f8;
        }
      }

      .project-name {
        margin: 0;

        line-height: 60px;
        font-weight: 700;

        // width: 500px;
        color: #ffe8e8;

        cursor: pointer;

        @include mobile {
          font-size: 8vw;
        }

        @include tablet {
          font-size: 60px;
        }
      }

      .project-alt {
        line-height: 35px;

        color: #ff2e63;

        cursor: pointer;

        @include mobile {
          margin: 0;
          font-size: 5vw;
        }

        @include tablet {
          margin: 10px 0 0 0;
          font-size: 30px;
        }
      }

      .project-desc {
        font-size: 23px;
        font-weight: 300;
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;

      @include mobile {
        margin-top: 20px;
        gap: 15px;
      }

      @include tablet {
        margin-top: 50px;
        gap: 30px;
      }

      @include desktop {
        margin-top: auto;
      }

      button {
        @extend .default-button;
        color: map-get($palette, fg);
        background-color: transparent;
        border: 1px solid map-get($palette, fg);

        &:hover {
          color: map-get($palette, textDark);
          background-color: map-get($palette, fg);
          border: none;
        }

        @include mobile {
          width: 120px;
        }

        @include tablet {
          width: 150px;
          height: 50px;
        }
      }
    }
  }

  .right {
    height: inherit;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background-color: rgb(61, 61, 61);

    overflow: hidden;

    @include mobile {
      width: 100%;
      aspect-ratio: 1 /1;
    }

    @include desktop {
      width: 50%;
    }

    img {
      height: inherit;

      object-fit: cover;

      border-radius: inherit;

      @include mobile {
        width: 200%;
      }

      @include desktop {
        width: 100%;
      }
    }
  }
}

.project-even {
  @include desktop {
    flex-direction: row-reverse;
  }

  .left {
    .project-info {
      @include mobile {
        align-items: flex-end;
      }

      .project-name,
      .project-alt,
      .project-desc {
        @include mobile {
          text-align: right;
        }
      }
    }

    .buttons {
      @include mobile {
        margin-left: auto;
      }
    }
  }
}

.separator {
  margin-bottom: 50px;
  width: 50%;
  align-self: center;

  border-radius: 10px;

  background-color: #8efbff;
  box-shadow: 0 0 30px #00f5ff;

  @include mobile {
    margin-bottom: 50px;
    height: 5px;
  }

  @include tablet {
    margin-bottom: 70px;
    height: 10px;
  }

  @include desktop {
    margin-bottom: 150px;
    animation: animateSeparator 0.1s linear infinite;

    @keyframes animateSeparator {
      0% {
        background-color: #8efbff;
        box-shadow: 0 0 30px #00f5ff;
      }

      100% {
        background-color: #3bf2f8;
        box-shadow: 0 0 30px #3bf2f8;
      }
    }
  }
}
