@import "../../index.scss";

.project-container {
  display: flex;

  gap: 50px;

  height: 500px;

  .left {
    margin-top: auto;
    width: 50%;

    display: flex;
    flex-direction: column;

    .project-info {
      display: flex;
      flex-direction: column;

      border-radius: 20px;
      background-color: map-get($palette, bg);

      .project-name {
        margin: 0;

        font-size: 60px;
        line-height: 60px;
        font-weight: 700;

        width: 500px;
        color: #ffe8e8;

        cursor: pointer;
      }

      .project-alt {
        margin: 20px 0 0 0;

        font-size: 35px;
        line-height: 35px;

        color: #fd4976;
        // text-shadow: 0 0 50px #fd4976;

        cursor: pointer;
      }
    }

    .buttons {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      gap: 30px;
      align-items: center;

      button {
        @extend .default-button;

        color: map-get($palette, fg);
        background-color: transparent;
        border: 1px solid map-get($palette, fg);

        &:hover {
          color: map-get($palette, textDark);
          background-color: map-get($palette, fg);
          border: none;
        }
      }
    }
  }

  .right {
    width: 50%;
    height: inherit;
    margin-left: auto;

    border-radius: 20px;
    background-color: rgb(61, 61, 61);

    cursor: pointer;

    img {
      height: inherit;
      width: 100%;
      object-fit: cover;

      border-radius: inherit;
    }
  }
}
