@import "../../index.scss";

.mobile-menu {
  position: fixed;
  z-index: 99;

  right: 0;

  height: 100vh;
  padding-top: 15px;
  display: flex;
  flex-direction: column;

  background-color: #0e1013;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 330px;
  }
}

.close-btn {
  margin-left: auto;
  margin-right: 20px;
  padding: 0;

  border: none;
  background: #0e1013;
  color: white;
}

.menu-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 110px;

  @include mobile {
    text-align: center;
  }

  @include tablet {
    text-align: right;
    margin-right: 30px;
  }

  li {
    font-weight: 500;
    color: map-get($palette, textLight);
    cursor: pointer;

    @include mobile {
      font-size: 40px;
    }

    @include tablet {
      font-size: 55px;
    }

    a {
      font-weight: 500;
      color: map-get($palette, textLight);
      cursor: pointer;
    }
  }
}
