@import "../../index.scss";

.projects-section {
  margin-top: 150px;

  .projects-header {
    margin: 0 0 150px 0;

    font-size: 90px;
    line-height: 90px;
    font-weight: 700;

    width: 700px;
    padding-right: 50px;

    // -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    // outline: none;
    cursor: default;

    animation: animate 0.1s linear infinite;

    @keyframes animate {
      0% {
        color: #fd4976;
        text-shadow: 0 0 30px #fd4976;
      }

      100% {
        color: #ff6289;
        text-shadow: 0 0 30px #fd4976;
      }
    }
  }

  .project-list {
    display: flex;
    flex-direction: column;
    gap: 150px;
  }
}
