@import "../../index.scss";

.projects-section {
  @include mobile {
    padding-top: 70px;
    overflow-x: hidden;
  }

  @include tablet {
    padding-top: 120px;
  }

  @include desktop {
    overflow-x: inherit;
  }

  @include rwd("1920px") {
    padding-top: 170px;
  }

  .projects-heading {
    display: flex;
    align-items: center;

    @include mobile {
      margin-bottom: 30px;
    }

    @include tablet {
      margin-bottom: 50px;
    }

    @include desktop {
      margin-bottom: 100px;
    }

    .projects-header {
      margin: 0;

      line-height: 90px;
      font-weight: 700;

      color: #8efbff;
      text-shadow: 0 0 30px #00f5ff;

      @include mobile {
        font-size: 45px;
        padding-right: 20px;
      }

      @include tablet {
        font-size: 70px;
      }

      @include desktop {
        font-size: 90px;
        padding-right: 50px;

        animation: animate 0.1s linear infinite;

        @keyframes animate {
          0% {
            color: #8efbff;
            text-shadow: 0 0 30px #00f5ff;
          }

          100% {
            color: #3bf2f8;
            text-shadow: 0 0 30px #3bf2f8;
          }
        }
      }

      cursor: default;

      span {
        color: #fd4976;

        cursor: default;

        animation: animateSpan 5s linear infinite;

        @keyframes animateSpan {
          0%,
          18%,
          20%,
          50.1%,
          60%,
          65.1%,
          80%,
          90.1%,
          92% {
            color: #003b3d;
            text-shadow: none;
          }

          18.1%,
          20.1%,
          30%,
          50%,
          60.1%,
          65%,
          80.1%,
          90%,
          92.1%,
          100% {
            color: #3bf2f8;
            text-shadow: 0 0 50px #3bf2f8;
          }
        }
      }
    }

    .line {
      flex: 1;

      border-radius: 10px;

      background-color: #3bf2f8;
      box-shadow: 0 0 30px #3bf2f8;

      @include mobile {
        height: 5px;
      }

      @include tablet {
        height: 10px;
      }

      @include desktop {
        animation: animateLine 0.1s linear infinite;

        @keyframes animateLine {
          0% {
            background-color: #8efbff;
            box-shadow: 0 0 30px #00f5ff;
          }

          100% {
            background-color: #3bf2f8;
            box-shadow: 0 0 30px #3bf2f8;
          }
        }
      }
    }
  }

  .project-list {
    // padding: 0 30px;
    display: flex;
    flex-direction: column;
  }
}
