@import "../../index.scss";

nav {
  position: sticky;
  top: 0;
  height: 8vh;
  overflow-x: hidden;
  z-index: 98;

  display: flex;
  // justify-content: center;
  align-items: center;

  background-color: #0e1013;

  .nav-logo {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: none;

    svg {
      @include mobile {
        width: 25px;
        height: 25px;
      }

      @include tablet {
        width: 30px;
        height: 30px;
      }
    }
  }

  ul {
    margin: 0 40px 0 auto;

    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile {
      display: none;
    }

    @include desktop {
      display: flex;
    }

    li {
      font-size: 20px;
      font-weight: 500;
      color: map-get($palette, textLight);
      cursor: none;
    }
  }

  .resume-btn {
    @extend .default-button;

    @include mobile {
      display: none;
    }

    @include desktop {
      display: block;
    }
  }

  .menu-btn {
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 0;

    border: none;
    background: transparent;

    @include mobile {
      display: flex;
    }

    @include desktop {
      display: none;
    }

    .first-line,
    .second-line {
      border-radius: 10px;
      background-color: white;

      @include mobile {
        height: 5px;
        width: 30px;
      }

      @include tablet {
        height: 7px;
        width: 40px;
      }
    }
  }
}
