@import "../../index.scss";

nav {
  padding: 30px 0;
  overflow-x: hidden;

  background-color: #0e1013;

  .nav-logo {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    svg {
      width: 50px;
      height: 50px;
    }
  }

  ul {
    margin: 0 40px 0 auto;

    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile {
      display: none;
    }

    @include desktop {
      display: flex;
    }

    li {
      font-size: 25px;
      font-weight: 500;
      color: map-get($palette, textLight);
      cursor: pointer;
    }
  }

  .resume-btn {
    @extend .default-button;

    @include mobile {
      display: none;
    }

    @include desktop {
      display: block;
    }
  }

  .menu-btn {
    margin-left: auto;
    flex-direction: column;
    gap: 15px;

    border: none;
    background: transparent;

    @include mobile {
      display: flex;
    }

    @include desktop {
      display: none;
    }

    .first-line,
    .second-line {
      height: 7px;
      width: 50px;

      border-radius: 10px;
      background-color: white;
    }
  }
}
