@import "../../index.scss";

.contactMe {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 15vh;
  gap: 30px;

  @include rwd("1200px") {
    flex-direction: row;
    text-align: start;
  }

  .left {
    max-width: 100%;

    h1 {
      width: 100%;
    }

    @include rwd("1200px") {
      max-width: 30%;
    }
  }

  .line {
    display: none;
    height: 2px;
    flex: 1;
    // margin: 0 20px;

    background-color: black;

    @include rwd("1200px") {
      display: flex;
    }
  }

  .right {
    button {
      font-size: 15px;
      font-weight: 600;

      font-size: 20px;

      border: 1px black solid;
      background-color: transparent;
      padding: 20px 50px;

      cursor: pointer;

      &:hover {
        background-color: black;
        color: white;
        //   transition: 0.5s;
      }
    }
  }
}
