@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

$palette: (
  textLight: #ffffff,
  textDark: #000000,
  fg: #ff2e63,
  bg: #14171b,
);

@mixin mobile {
  @media (min-width: 250px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 760px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// CUSTOM
@mixin rwd($screen) {
  @media (min-width: $screen) {
    @content;
  }
}

:root {
  cursor: none;
  font-family: "Space Grotesk", sans-serif;

  color: map-get($palette, textLight);
  background-color: map-get($palette, bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #14171b;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3bf2f8;
    border-radius: 10px;

    @include desktop {
      animation: animateScroll 0.1s linear infinite;

      @keyframes animateScroll {
        0% {
          background-color: #8efbff;
          box-shadow: inset 0 0 30px #00f5ff;
        }

        100% {
          background-color: #3bf2f8;
          box-shadow: inset 0 0 30px #3bf2f8;
        }
      }
    }
  }
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: none;
}

button,
input,
textarea {
  font-family: "Space Grotesk", sans-serif;
}

button {
  cursor: none;
}

.default-button {
  width: 150px;
  height: 45px;

  font-size: 15px;
  font-weight: 700;

  border-radius: 60px;
  border: none;
  color: map-get($palette, textDark);
  background-color: #3bf2f8;
}
