@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

$palette: (
  textLight: #ffffff,
  textDark: #000000,
  fg: #ff2e63,
  bg: #14171b,
);

:root {
  font-family: "Space Grotesk", sans-serif;

  color: map-get($palette, textLight);
  background-color: map-get($palette, bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Space Grotesk", sans-serif;
}

button {
  cursor: pointer;
}

@mixin mobile {
  @media (min-width: 250px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 760px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// CUSTOM
@mixin rwd($screen) {
  @media (min-width: $screen) {
    @content;
  }
}

.default-button {
  width: 170px;
  height: 60px;

  font-size: 20px;
  font-weight: 700;

  border-radius: 60px;
  border: none;
  color: map-get($palette, textDark);
  background-color: #3bf2f8;
}
